<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="demo.dao.mybatis.db1.archive.ArchiveMapper" >
  <resultMap id="BaseResultMap" type="demo.domain.Archive" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="subject_type" property="subjectType" jdbcType="VARCHAR" />
    <result column="subject_id" property="subjectId" jdbcType="BIGINT" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_type" property="fileType" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="doubt_directory" property="doubtDirectory" jdbcType="BIT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_staff_id" property="createStaffId" jdbcType="BIGINT" />
    <result column="file_size" property="fileSize" jdbcType="BIGINT" />
  </resultMap>
  

  
  <sql id="Base_Column_List" >
    id, subject_type, subject_id, file_name, file_type, url, doubt_directory, parent_id,
    create_date, create_staff_id, file_size
  </sql>
  <select id="selectByPrimaryKey" resultType="demo.domain.Archive" parameterType="java.lang.Long" >
    select 
   *
    from md_archive
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from md_archive
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from md_archive
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="demo.domain.Archive" >
    insert into md_archive (id, subject_type, subject_id, 
      file_name, file_type, url, 
      doubt_directory, parent_id, create_date, 
      create_staff_id, file_size)
    values (#{id,jdbcType=BIGINT}, #{subjectType,jdbcType=VARCHAR}, #{subjectId,jdbcType=BIGINT}, 
      #{fileName,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{doubtDirectory,jdbcType=BIT}, #{parentId,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createStaffId,jdbcType=BIGINT}, #{fileSize,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="demo.domain.Archive" >
    insert into md_archive
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="subjectType != null" >
        subject_type,
      </if>
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="fileType != null" >
        file_type,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="doubtDirectory != null" >
        doubt_directory,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createStaffId != null" >
        create_staff_id,
      </if>
      <if test="fileSize != null" >
        file_size,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="subjectType != null" >
        #{subjectType,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=BIGINT},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="doubtDirectory != null" >
        #{doubtDirectory,jdbcType=BIT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaffId != null" >
        #{createStaffId,jdbcType=BIGINT},
      </if>
      <if test="fileSize != null" >
        #{fileSize,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="demo.domain.Archive" >
    update md_archive
    <set >
      <if test="subjectType != null" >
        subject_type = #{subjectType,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null" >
        subject_id = #{subjectId,jdbcType=BIGINT},
      </if>
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="doubtDirectory != null" >
        doubt_directory = #{doubtDirectory,jdbcType=BIT},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaffId != null" >
        create_staff_id = #{createStaffId,jdbcType=BIGINT},
      </if>
      <if test="fileSize != null" >
        file_size = #{fileSize,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="demo.domain.Archive" >
    update md_archive
    set subject_type = #{subjectType,jdbcType=VARCHAR},
      subject_id = #{subjectId,jdbcType=BIGINT},
      file_name = #{fileName,jdbcType=VARCHAR},
      file_type = #{fileType,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      doubt_directory = #{doubtDirectory,jdbcType=BIT},
      parent_id = #{parentId,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_staff_id = #{createStaffId,jdbcType=BIGINT},
      file_size = #{fileSize,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <resultMap id="BaseResultMap2" type="demo.domain.Archive" >
    <id column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="subject_type" property="subjectType" jdbcType="VARCHAR" />
    <result column="subject_id" property="subjectId" jdbcType="BIGINT" />
  </resultMap>
  
  <select id="selectByParentId" resultMap="BaseResultMap2">
    select
    <include refid="Base_Column_List" />
    from md_archive
    where
    parent_id = #{parentId}
  </select>


</mapper>